name: town-square

services:
  fisherman:
    build:
      context: ./apps/fisherman
    ports:
      - "3000:3000"
    volumes:
      - ./apps/fisherman/data:/app/data

  amnesiac-server:
    build:
      context: ./apps/amnesiac-server
    ports:
      - "3001:3000"

  amnesiac-client:
    build:
      context: ./apps/amnesiac-client
      args:
        PUBLIC_API_URL: http://localhost:3001
        PUBLIC_API_BASE_URL: http://localhost:3001/api
    ports:
      - "4321:4321"
